<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <body>
        <h3>{{ theme }}/h3>
        {% for article in articles %}
            <h4>{{ loop.index }} : {{ article.stock }}円 {{ article.name }}</h4>
            <img src="{{ article.img }}" /></br>
            <table>
                <tr>
                    <td><a href="{{ article.code }}"></a>{{ article.code }}</td>
                    <td><a href="{{ article.stock }}">{{ article.stock }}</a></td>
                    <td><a href="{{ article.info }}">{{ article.info }}</a></td>
                </tr>
            </table>
        {% endfor %}
        </body>
</html>

