[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
configparser = "*"
smtplib = "*"
ssl = "*"
email = "*"
jinja2 = "*"
beautifulsoup = "*"
beautifulsoup4 = "*"
beutifulsoup4 = "*"
beutifulsoup = "*"
chardet = "*"

[requires]
python_version = "3.8"
